<ocsigen>
  <server>
    <debugmode/>
    <port protocol="HTTP">8082</port>
    <logdir>_build/var/log</logdir>
    <datadir>_build/var/data</datadir>
    <charset>utf-8</charset>
    <extension findlib-package="ocsigenserver.ext.staticmod"/>
    <extension findlib-package="ocsigenserver.ext.ocsipersist-sqlite"/>
    <extension findlib-package="eliom.server"/>

    <host>
      <static dir="_build/static" />
      <eliommodule module="_build/_server/mysite.cma">
      </eliommodule>
      <eliom/>
    </host>

  </server>
</ocsigen>
